/* КАРТОЧКИ */

.layout {
  display: grid;

  /* 12 колонок */
  grid-template-columns: repeat(12, 1fr);

  /* 12 строк по высоте */
  grid-template-rows: repeat(12, 1fr);

  gap: 20px;
}

.card-carbon {
  background-color: var(--app-green);
  color: var(--app-white);

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  /* height: clamp(180px, 20vh, 260px); */

  padding: clamp(16px, 2vw, 32px);
  border-radius: 24px;

  overflow: hidden;
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 12px;

  width: 33%;
}

.card-carbon img {
  height: 100%;
  width: auto;
  object-fit: contain;

  flex-shrink: 0;
}

/* =========================
   Большие мониторы
========================= */
@media (min-width: 1600px) {
  .card-carbon {
    height: 260px;
    padding: 36px;
  }

  .text-content {
    width: 50%;
  }
}

/* =========================
   Ноутбуки
========================= */
@media (max-width: 1200px) {
  .card-carbon {
    height: 220px;
  }

  .text-content {
    width: 58%;
  }
}

/* =========================
   Планшеты
========================= */
@media (max-width: 768px) {
  .card-carbon {
    height: 180px;
    padding: 18px;
    border-radius: 20px;
  }

  .text-content {
    width: 55%;
    gap: 8px;
  }

  .card-headline-4 {
    font-size: clamp(16px, 4vw, 24px);
  }

  .card-carbon img {
    max-width: 38%;
  }
}

/* =========================
   Мобильные
========================= */
@media (max-width: 480px) {
  .card-carbon {
    height: 180px;
    padding: 14px;
  }

  .text-content {
    width: 33%;
  }

  .card-headline-4 {
    font-size: 18px;
    line-height: 1.15;
  }

  .card-carbon img {
    max-width: 35%;
    height: 90%;
  }
}

/* 7/12 ширины и вся высота */
.card-1 {
  grid-column: 1 / 8;
  grid-row: 1 / 13;
  background-color: var(--app-blue);
  color: var(--app-white);
}

/* 5/12 ширины и 4/12 высоты */
.card-2 {
  grid-column: 8 / 13;
  grid-row: 1 / 5;
  background-color: var(--app-green);
  color: var(--app-white);
}

/* 5/12 ширины и 8/12 высоты */
.card-3 {
  grid-column: 8 / 13;
  grid-row: 5 / 13;
  background-color: var(--app-yellow);
  color: var(--app-white);
}

/* ЖИДКИЕ КАРТОЧКИ СТРУКТУРА */

.blob_layer {
  position: relative;
  min-height: 426px;
  width: 100%;
}

.blob-grid-1,
.blob-grid-2 {
  display: grid;

  /* 12 колонок */
  grid-template-columns: repeat(12, 1fr);

  /* 12 строк по высоте */
  grid-template-rows: repeat(12, 1fr);

  gap: 20px;
}

.blob-grid-1 {
  position: absolute;
  width: 100%;
  min-height: 266px;
  filter: url(#goo);
  /* top: 0;
  left: 0; */
}

.blob-grid-2 {
  position: absolute;
  width: 100%;
  top: 200px;
  min-height: 236px;
  /* top: 0;
  left: 0; */
}

.blob-card-carbon {
  grid-column: 1 / 13;
  grid-row: 1 / 9;
  background-color: var(--app-green);
  color: var(--app-white);

  min-height: 180px;
}

/* 5/12 ширины и 4/12 высоты */
.blob-card-2 {
  grid-column: 8 / 13;
  grid-row: 9 / 13;
  background-color: var(--app-green);
  color: var(--app-white);

  /* min-height: 76px; */
}

/* 7/12 ширины и вся высота */
.blob-card-1 {
  grid-column: 1 / 8;
  grid-row: 1 / 13;
  background-color: var(--app-blue);
  color: var(--app-white);

  min-height: 266px;
}

/* 5/12 ширины и 8/12 высоты */
.blob-card-3 {
  grid-column: 8 / 13;
  grid-row: 5 / 13;
  background-color: var(--app-yellow);
  color: var(--app-white);

  min-height: 150px;
}

/* СЕКЦИЯ О БЮРО */
.about {
  padding: 100px 0;
}

.about-card-image {
  height: 200px;
  object-fit: cover;
}

/*  */
/*  */
/* СТИЛИ КАРТОЧЕК */
.card-headline-3 {
  font-family: "Cormorant Garamond", serif;
  font-size: var(--h3-font-size);
  line-height: 1.1;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.card-headline-4 {
  font-family: "Inter", serif;
  font-size: var(--h4-font-size);
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 8px;
  text-transform: uppercase;
}
